{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="login-form-container">
    <form class="login-form" method="post">
        {% if app.user %}
            <script type="text/javascript">
            window.location.href = "{{ path('app_home') }}";
            </script>

            {# <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div> #}
        {% endif %}

        <span id="login-title" class="h3 mb-3 font-weight-normal">> LOGIN</span>
        <div class="login-text-container">
            <input class="login-text" type="text" value="{{ last_email }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="E-Mail" required autofocus>
            <input class="login-text" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Password" required>

            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
        </div>

        <div class="checkbox mb-3 remember-me">
            <label>
                <input class="remember-me-checkbox" type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <div class="login-submit-container ">
            <input id="login-submit" class="btn btn-lg btn-primary" type="submit" value="Login">
            <a class="" href={{path("app_register")}}>> No account yet ?</a>


        </div>

        {% if error %}
            <span id="error" class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
        {% endif %}
            
    </form>
</div>
{% endblock %}
