{% extends 'base.html.twig' %}


{% block title %}Register{% endblock %}


{% block body %}

{% if app.user %}
    <script type="text/javascript">
    window.location.href = "{{ path('app_home') }}";
    </script>
{% endif %}

<div class="login-form-container">

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="login-form">

        <span id="login-title"> > REGISTER </span>

        {{ form_widget(registrationForm.email, {attr: {class:"login-text", placeholder:"E-Mail"}}) }}
        {{ form_widget(registrationForm.username, {attr: {class:"login-text", placeholder:"Username"}}) }}
        {{ form_widget(registrationForm.plainPassword, {attr:{class:"login-text", placeholder:"Password"},
            label: 'Password'
        }
        ) }}

        <div class="remember-me">
            {{ form_widget(registrationForm.agreeTerms, {attr: {class:"remember-me-checkbox"}}) }}
            <span> Agree to terms and conditions </span>
        </div>

        <div class="login-submit-container">
            <input id="login-submit" type="submit" class="btn" value="Register">
            <a href="{{path("app_login")}}">Go back to login</a>
        </div>
    </div>
    {{ form_end(registrationForm) }}

    </div>
{% endblock %}
